.create-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.create-playlist-button {
  width: 215px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.create-playlist-button svg {
  font-size: 1rem;
}
.new-playlist-name {
  width: 215px;
  height: 50px;
  border-radius: 30px;
}
.ok-button {
  width: 6vw;
  height: 4vh;
  border-radius: 10px;
}
