.playlist {
  border: #282c34 solid 2px;
  padding: 2px;
  /* margin: 2px; */
  background-color: lightblue;
  height: fit-content;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.playlist:hover {
  cursor: pointer;
  background-color: rgb(197, 117, 197);
}
.share-name {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  z-index: 1;
}
