.player {
  height: 315px;
  width: 560px;
}
.song-played {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 30vw;
  top: 20vh;
}
@media screen and (max-width: 450px) {
  .player {
    height: 100px;
    width: 180px;
  }
}
