.App {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

body {
  /* background: url("https://tinyurl.com/mryz3h4s");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; */
  background-color: black;
  position: fixed;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input,
input::-webkit-input-placeholder {
  font-size: 100%;
}
.title {
  color: black;
  background-color: azure;
  width: fit-content;
}
button:hover {
  cursor: pointer;
}
